html body{
    margin: 0;
    height: 50;
}

header{
    background-color: rgb(5, 5, 119);
    color: cornsilk;
    padding: 1em 0 ;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;

}


body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background: no-repeat;
    background-attachment: fixed;
}

.tabela {
    margin: 20px;
    padding: 20%;
    border-collapse: collapse; 
    margin-top: 100px;
    width: 50%;
   
}

.tabela td {
    margin: 3px;
    width: 60px; 
    height: 60px; 
    border: 2px solid #847f7f; 
    text-align: center; 
    vertical-align: top; 
    font-size: 2em; 
    background-color: #eee;
    padding: 40px; 
    background-size: 50px auto;
    text-align: center;
   
}


img{
    width: 90px;
    height: 90px;

 }


